/* Css solution to width problem 
https://stackoverflow.com/questions/22709792/input-type-number-wont-resize

To disable Auto zoom
 https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone */

body {
  font-size: 20px;
}
input[type="text"] {
  width: 20px;
  font-size: inherit;
}
